@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@400;600&display=swap");
/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/

.titulo {
  font-family: "Open Sans", sans-serif;
  font-size: 35pt;
  font-style: normal;
  justify-content: center;
}

.titulo-2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 15pt;
  font-style: normal;
  justify-content: center;
}

.reserva-btn {
  background-color: antiquewhite;
  border-radius: 15pt;
  border: none;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  color: rgb(165, 163, 163);
  font-size: 15pt;
}

.reserva-btn:hover {
  background-color: rgb(74, 73, 73);
  color: white;
}

.frase {
  font-family: "Open Sans", sans-serif;
  font-size: 15pt;
}

.frase-2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 25pt;
}

.separador {
  border: none;
  background-color: bisque;
}

.frase-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 15pt;
}

.galeria-imagen {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.imagen-habitacion {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.browser {
  background-color: #c5a498;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 100px;
  height: auto;
}

.li1 {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista1 {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

/* boton de seguirnos */

.compartir {
  position: relative;
  width: 680px;
  left: 63%;
  margin-left: 300px;
  top: 50%;
  margin-top: 20px;
  border-radius: 100px;
}

.compartir span {
  width: 200px;
  line-height: 80px;
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  left: 36.5%;
  margin-left: -200px;
  opacity: 1;
  transition: opacity 0.4 ease-in-out;
  pointer-events: none;
  color: #ffffff;
}

container {
  font-size: 0;
}

.compartir {
  position: fixed;
  bottom: -700px;
  right: -10;
  transform: scale(0.6);
}

.compartir a {
  line-height: 80px;
  width: 80px;
  text-align: center;
  display: inline-block;
  background: linear-gradient(180deg, #e3db47, #898912);
  color: #78831b;
  opacity: 1;
  transition: all 0.6s ease-in-out;
  margin: 0 -10px;
  box-shadow: 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.1);
}

.compartir a:nth-child(1) {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  margin-left: 0;
}

.compartir a:nth-child(1):hover {
  background-color: #b42272;
}

.compartir a:nth-child(2):hover {
  background-color: #3dd535;
}

.compartir a:nth-child(2) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 0;
}

.compartir:hover span,
.compartir,
:hover span {
  opacity: 1;
}

.compartir:hover a {
  margin: 10px 5px;
  color: #1b1801;
  font-size: 28px;
  border-radius: 50%;
  background: #ffffff15;
  box-shadow: 0 10px 25px rgba(36, 48, 212, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
}

.compartir:hover a:hover {
  color: #0d0d0d;
}
