@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@400;600&display=swap");
/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/

.titulo {
  font-family: "Open Sans", sans-serif;
  font-size: 35pt;
  font-style: normal;
  justify-content: center;
}

.titulo-2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 15pt;
  font-style: normal;
  justify-content: center;
}

.reserva-btn {
  background-color: antiquewhite;
  border-radius: 15pt;
  border: none;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  color: rgb(165, 163, 163);
  font-size: 15pt;
}

.reserva-btn:hover {
  background-color: rgb(74, 73, 73);
  color: white;
}

.frase {
  font-family: "Open Sans", sans-serif;
  font-size: 15pt;
}

.frase-2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 25pt;
}

.separador {
  border: none;
  background-color: bisque;
}

.frase-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 15pt;
}

.galeria-imagen {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.imagen-habitacion {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.browser {
  background-color: #c5a498;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 100px;
  height: auto;
}

.li1 {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista1 {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
